{#
<footer>
  <div class="container">
      <div class="footer mt-3 p-3 d-flex">
          <div class="descriptions me-5" style="max-width: 50%;">
              <a class="navbar-brand" href="/" style="color: white;">Galaxy-Game</a>
              <div class="description mt-2">      
            
      <span class="p-0" style="font-size:10px;">
        ”Solux” LLC<br>
        Bishkek, Leninsky district, bul. Young Guard, house 20 kv. 1<br>
        IIN 02505202310038<br>
        <br>
        Bank details:<br>
        Bank: COMMERCIAL BANK KYRGYZSTAN OJSC<br>
        Address: 54-A, T.Moldo str., 720010, Bishkek<br>
        BIC 103001<br>
        IIN of the bank 02712199110068<br>
        Current account 1030120001379957<br>
        Сделано на платформе Solux<br><br>
        <img src="https://nord-gaming.ru/image/solux.png"><br>
      </span>
</div>
              <div class="footer-label-contacts ms-3">
  <ul class="footer-nav__contacts mt-3">
                  <li class="nav-item mb-2">
              <a href="https://t.me/ManagerServisHelp" target="_blank" class="d-flex">
                  <i class="bi bi-telegram" style="font-size:25px;margin-right:5px;"></i>
              </a>
          </li>
      
                  <li class="nav-item mb-2 d-none">
              <a href="/#" target="_blank" class="d-flex">
                  <i class="bi bi-bootstrap-fill" style="font-size:25px;margin-right:5px;"></i>
              </a>
          </li>
      
                  <li class="nav-item mb-2 d-none">
              <a href="/#" target="_blank" class="d-flex">
                  <i class="bi bi-discord" style="font-size:25px;margin-right:5px;"></i>
              </a>
          </li>
      
                  <li class="nav-item mb-2 d-none">
              <a href="/#" target="_blank" class="d-flex">
                  <i class="bi bi-facebook" style="font-size:25px;margin-right:5px;"></i>
              </a>
          </li>
      
                  <li class="nav-item mb-2">
              <a href="cdn-cgi/l/email-protection.html#99eaf1f6e9b7f7f6ebfdb7eaece9e9d9fef4f8f0f5b7faf6f4" class="d-flex">
                  <i class="bi bi-envelope-paper-fill" style="font-size:25px;margin-right:5px;"></i>
              </a>
          </li>
      
  </ul>
</div>
          </div>

          <div class="footer-nav">
    <div class="footer-nav__col">
      <p class="footer-label mb-3" style="color: #6a4ddd;">Навигация</p>
      <li class="nav-item mb-2">
        <a class="nav-link p-0" aria-current="page" href="/">Главная</a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link p-0" href="/">Все категории</a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link p-0" href="/index.php?route=account/account">Личный кабинет</a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link p-0" href="/contact_us">Контакты</a>
      </li>
    </div>

    <div class="footer-nav__col">
      <p class="footer-label mb-3" style="color: #6a4ddd;">Другое</p>
      <ul class="flex-column links">
        <li class="nav-item mb-2">
          <a class="nav-link p-0" href="/payments">Оплата и доставка</a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link p-0" href="/return">Возврат</a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link p-0" href="/privacy">Политика</a>
        </li>
        <li class="nav-item mb-2 d-none">
          <a class="nav-link p-0" href="/warranty">Правила</a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link p-0" href="/about_us">О нас</a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link p-0" href="/offer">Договор-оферта</a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link p-0" href="/data">Обработка данных</a>
        </li>
        
      </ul>
    </div>
    <div class="footer-nav__col">
      <p class="footer-label mb-3" style="color: #6a4ddd;">Информация</p>
      <p>Сайт работает для всех стран мира, включая страны СНГ и Россию. Некоторые товары могут иметь региональные ограничения, которые указаны в описании товара или при оформлении заказа - будьте внимательны!!!
<br><br>
Все продаваемые ключи закупаются у официальных дилеров, которые работают напрямую с издателями. В том числе с издателями: 1C, 2K, Bandai Namco, Curve Digital, Capcom, Codemasters, Deep Silver, Disney, IO Interactive, Iceberg Interactive, Nordic Games, Paradox, Plug-in-Digital, Take-Two Interactive, Team17, Ubisoft, Бука, Новый Диск и другие</p>
    </div>
    
          </div>
      </div>

      <div class="footer-bottom">
          <p>© 2022-23 Nord-Gaming</p>
      </div>
  </div>
</footer>
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}

<div class="footercode"></div>
<script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="/dist/js/lightbox.js"></script>
<script src="/dist/js/bootstrap.js"></script>
<script src="/dist/js/jquery.toast.js"></script>
<script src="/dist/js/slick.min.js"></script>
<script src="/dist/js/main.js"></script>
<script src="/dist/js/cart.js"></script>
<script src="/dist/js/jquery.fajax.js"></script>

<script>
    function bookmarkPage() {
        var pageTitle = document.title;
        var pageUrl = window.location.href;

        if (window.sidebar && window.sidebar.addPanel) { // Для Firefox
            window.sidebar.addPanel(pageTitle, pageUrl, '');
        } else if (window.external && ('AddFavorite' in window.external)) { // Для Internet Explorer
            window.external.AddFavorite(pageUrl, pageTitle);
        } else if (window.opera && window.print) { // Для Opera
            var bookmarkLink = document.createElement('a');
            bookmarkLink.setAttribute('href', pageUrl);
            bookmarkLink.setAttribute('title', pageTitle);
            bookmarkLink.setAttribute('rel', 'sidebar');
            bookmarkLink.click();
        } else { // Другие браузеры
            alert('Для добавления страницы в закладки, воспользуйтесь сочетанием клавиш Ctrl+D.');
        }
    }
</script>
<style>
</style>
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>

#}

<footer>
  <div class="container">
    <div class="row">
      
      <div class="col-sm-3">
        <h5>Galaxy-Game</h5>
        <span class="p-0" style="font-size:10px;">
        ”Solux” LLC<br>
        Bishkek, Leninsky district, bul. Young Guard, house 20 kv. 1<br>
        IIN 02505202310038<br>
        <br>
        Bank details:<br>
        Bank: COMMERCIAL BANK KYRGYZSTAN OJSC<br>
        Address: 54-A, T.Moldo str., 720010, Bishkek<br>
        BIC 103001<br>
        IIN of the bank 02712199110068<br>
        Current account 1030120001379957<br>
        Сделано на платформе Solux<br><br>
        <img src="https://galaxy-game.ru/image/solux.png"><br>
      </span>
      </div>
      
      <div class="col-sm-3">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          {# <li><a href="{{ return }}">{{ text_return }}</a></li> #}
          {# <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li> #}
        </ul>
      </div>
      {#
      <div class="col-sm-3">        
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          <li><a href="{{ special }}">{{ text_special }}</a></li>
        </ul>        
      </div> #}
      
      {% if informations %}
      <div class="col-sm-3">
        <h5>Другое</h5>
        <ul class="list-unstyled">
         {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      <div class="col-sm-3">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          {#
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
          #}
        </ul>
      </div>
    </div>
    <hr>
    {# <p>{{ powered }}</p> #}
  </div>
</footer>
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script type="text/javascript" src="catalog/view/javascript/jquery.toast.js"></script>
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>

